/* Limpar algumas formatações padrões */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d9d9d9d9;
}

nav{
    border-bottom: #ddd 1px solid;
}

nav a{
    text-decoration: none;
    color: #222;
}

nav li{
    list-style-type: none;
    display: inline;
}