* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 4%;
    line-height: 3rem;
    transition: .5s;
    font-weight: bold;
}

a:hover{
    background-color: black;
    transition: .5s;
    color: white;
}

li {
    list-style-type: none;
    display: inline;
}

nav {
    width: 100%;
    padding: 5px;
    background-color: white;
    border-bottom: #6b6b6b 2px solid;
    position: fixed;
}

.banner img{
    width: 100%;
}

/* .produto, .foto, .nome-produto, .descricao, .btn, .preco {
    border: 1px red dotted;
} */

.foto img{
    width: 280px;
    border-radius: 5%;
}

.produto{
    width: 300px;
    height: 450px;
    padding: .5em;
    border-radius: 5%;
}

.nome-produto{
    font-size: 1.5em;
    font-weight: 600;
}

.produto:hover{
    background-color: #ffc400;
}

.descricao{
    height: 3em;
}

.preco{
    height: 1.8em;
}